<div class="container text-center mt-5">
    <div class="row">
        <div class="col-8">
            <form>
                <div class="mb-3">
                  <h3 for="taskList" class="form-label">Add new Task List</h3>
                  <input #taskListInput type="text" class="form-control" id="taskList" placeholder="Enter Title">
                </div>
                  <div class="row">
                    <div class="col-8">
                        <button type="button" routerLink="/"
                        class="btn btn-secondary m-2">Cancel</button>
                        <button type="button" (click)="addNewTaskList(taskListInput.value)"
                        class="btn btn-primary">Add Task List</button>
                    </div>
                  </div>       
               
              </form>
        </div>
    </div>
</div>